@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --bg: #c0c0c0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    opacity: 0;
}
#top{
    position: relative;
    height: 100vh;
    background-color: var(--bg);
    background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
#scroll-prompt{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
.content-picture{
    position: relative;
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
.inside-content{
    position: relative;
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
.content{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}
.content-2{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}
#bottom{
    position: relative;
    height: 50vh;
    background-color: var(--bg);
    background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1646296970");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
#source{
    position: absolute;
    bottom: 10px;
    left: 50;
    right: 0;
    width: 10vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}
.source-logo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}